<h1><%= @customer.name() %></h1>

<ul>
  <li>Phone: <%= @customer.phone() %></li>
  <li>Preferred animal type: <%= @customer.animal_type_preference() %></li>
  <li>Preferred breed: <%= @customer.breed_preference() %></li>
</ul>
