<form action="/customers" method="post">
  <div class="form-group">
    <label for="name">Enter the customer's name:</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="phone">Enter the customer's phone:</label>
    <input type="text" name="phone" class="form-control">
  </div>
  <div class="form-group">
    <label for="preferred_type">Enter the customer's preferred type of animal:</label>
    <input type="text" name="preferred_type" class="form-control">
  </div>
  <div class="form-group">
    <label for="preferred_breed">Enter the customer's preferred breed:</label>
    <input type="text" name="preferred_breed" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Save customer</button>
</form>
