<h1>Welcome to the Animal Shelter</h1>

<div class="container">
  <a href="/animals">View All Pets</a><br>
  <a href="/animals/new">Add New Pet</a><br>
  <a href="/customers">View All Customers</a><br>
  <a href="/customer/new">Add New Customer</a><br>
</div>
