<!DOCTYPE html>
<html>
  <head>
    <title>Animal shelter</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Animal shelter</h1>
      </div>
      <%= yield %><br>
       <a href="/" class="btn btn-success active" role="button" aria-pressed="true">Home</a>
    </div>
  </body>
</html>
